html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch !important; /* Lets it scroll lazy */
  background: #d2b7a4;


}

.elementor {
  overflow-x: hidden;
}



.loader {
  background: #d2b7a4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  transform: translateY(0);
  @include center-vertically;
  transition: all 0.8s ease-in-out 1.5s;

  &.move {
    transform: translateY(100%);
  }


  &_texts {
    position: absolute;
    @include center-absolute;
    height: 25px;
    width: 250px;
    overflow: hidden;
    text-align: center;
    > div {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translateY(20px);

      p {
        text-align: center;
        color: white;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase;
        font-size: 1.1rem;
      }

      &:first-child {
        animation: roll 1.2s linear 1 0s;
      }
      &:last-child {
        animation: roll1 1.7s linear 1 1.2s;
      }

    }
  }

}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes roll {
  0% {
    transform: translateY(20px);
  }
  20% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(0);

  }
  100% {
    transform: translateY(-20px);
  }
}


@keyframes roll1 {
  0% {
    transform: translateY(20px);
  }
  10% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(0);
    opacity: 1;

  }
  100% {
    opacity: 0;
  }
}

.scrollhere {
  height: 100%;
}

.hentry {
  margin: 0 !important;
}
