$max-screen-mobile-xs: 320px; // iphone 4/5/SE //
$max-screen-mobile-md: 375px; // iphone 6/6s/7/X/11 //
$max-screen-mobile-lg: 414px; // iphone plus and iphone 11 pro
$max-screen-mobile-xl: 480px; //Samsung Galaxy Note 5
$max-screen-mobile-xlg: 736px; // default //
$max-screen-tablet-xs: 768px; // ipad 9 portrait //
$max-screen-tablet-sm: 834px; // ipad 10 portrait //
$max-screen-tablet-md: 1024px; // ipad 9 landscape/ ipad pro portrait //
$max-screen-tablet-lg: 1112px; // ipad 10 landscape //
$max-screen-tablet-xlg: 1366px; //ipad pro landscape //
$max-screen-laptop-xs: 1280px; // macbookpro 13inch //
$max-screen-laptop-md: 1440px; // macbookpro 15inch//
$max-screen-laptop-lg: 1680px; // macbookpro 15inch HR//
$max-screen-laptop-xlg: 1921px; // imac 22inch //

$min-screen-mobile-xs: ($max-screen-mobile-xs + 1); // iphone 4/5 //
$min-screen-mobile-md: ($max-screen-mobile-md + 1); // iphone 6/6s/7/X //
$min-screen-mobile-lg: ($max-screen-mobile-lg + 1); // iphone plus //
$min-screen-mobile-xl: ($max-screen-mobile-xl + 1); // iphone plus //
$min-screen-mobile-xlg: ($max-screen-mobile-xlg + 1); // mobile default //
$min-screen-tablet-xs: ($max-screen-tablet-xs + 1); // ipad 9 portrait //
$min-screen-tablet-sm: ($max-screen-tablet-sm + 1); // ipad 10 portrait //
$min-screen-tablet-md: ($max-screen-tablet-md + 1); // ipad 9 landscape/ ipad pro portrait //
$min-screen-tablet-lg: ($max-screen-tablet-lg + 1); // ipad 10 landscape //
$min-screen-tablet-xlg: ($max-screen-tablet-xlg + 1); //ipad pro landscape //
$min-screen-laptop-xs: ($max-screen-laptop-xs + 1); // macbookpro 13inch //
$min-screen-laptop-md: ($max-screen-laptop-md + 1); // macbookpro 15inch//
$min-screen-laptop-lg: ($max-screen-laptop-lg + 1); // macbookpro 15inch HR//
$min-screen-laptop-xlg: ($max-screen-laptop-xlg + 1); // imac 22inch //

$max-mobile-xs: "(max-width : " $max-screen-mobile-xs ")"; // iphone 4/5 //
$max-mobile-md: "(max-width : " $max-screen-mobile-md ")"; // iphone 6/6s/7/X //
$max-mobile-lg: "(max-width : " $max-screen-mobile-lg ")"; // iphone plus //
$max-mobile-xl: "(max-width : " $max-screen-mobile-xl ")"; // iphone plus //
$max-mobile-xlg: "(max-width : " $max-screen-mobile-xlg ")"; // default //
$max-tablet-xs: "(max-width : " $max-screen-tablet-xs ")"; // ipad 9 portrait //
$max-tablet-sm: "(max-width : " $max-screen-tablet-sm ")"; // ipad 10 portrait //
$max-tablet-md: "(max-width : " $max-screen-tablet-md ")"; // ipad 9 landscape/ ipad pro portrait //
$max-tablet-lg: "(max-width : " $max-screen-tablet-lg ")"; // ipad 10 landscape //
$max-tablet-xlg: "(max-width : " $max-screen-tablet-xlg ")"; //ipad pro landscape //
$max-laptop-xs: "(max-width : " $max-screen-laptop-xs ")"; // macbookpro 13inch //
$max-laptop-md: "(max-width : " $max-screen-laptop-md ")"; // macbookpro 15inch//
$max-laptop-lg: "(max-width : " $max-screen-laptop-lg ")"; // macbookpro 15inch HR//
$max-laptop-xlg: "(max-width : " $max-screen-laptop-xlg ")"; // imac 22inch //

$min-mobile-xs: "(min-width : " $min-screen-mobile-xs ")"; // iphone 4/5 //
$min-mobile-md: "(min-width : " $min-screen-mobile-md ")"; // iphone 6/6s/7/X //
$min-mobile-lg: "(min-width : " $min-screen-mobile-lg ")"; // iphone plus //
$min-mobile-xl: "(min-width : " $min-screen-mobile-xl ")"; // default //
$min-mobile-xlg: "(min-width : " $min-screen-mobile-xlg ")"; // default //
$min-tablet-xs: "(min-width : " $min-screen-tablet-xs ")"; // ipad 9 portrait //
$min-tablet-sm: "(min-width : " $min-screen-tablet-sm ")"; // ipad 10 portrait //
$min-tablet-md: "(min-width : " $min-screen-tablet-md ")"; // ipad 9 landscape/ ipad pro portrait //
$min-tablet-lg: "(min-width : " $min-screen-tablet-lg ")"; // ipad 10 landscape //
$min-tablet-xlg: "(min-width : " $min-screen-tablet-xlg ")"; //ipad pro landscape //
$min-laptop-xs: "(min-width : " $min-screen-laptop-xs ")"; // macbookpro 13inch //
$min-laptop-md: "(min-width : " $min-screen-laptop-md ")"; // macbookpro 15inch//
$min-laptop-lg: "(min-width : " $min-screen-laptop-lg ")"; // macbookpro 15inch HR//
$min-laptop-xlg: "(min-width : " $min-screen-laptop-xlg ")"; // imac 22inch //
