.font {
  &-style {
    &-italic {
      font-style: italic;
    }
  }

  @for $i from 1 through 800 {
    &-weight-#{$i} {
      font-weight: ($i * 1);
    }
  }


  &-family {
    &-heading {
      @include font-family-heading;
    }
    &-default {
      @include font-family-default;
    }
  }

}

