.clock-wrapper {
  width: 200px;
  height: 150px;
  margin: auto;
  position: relative;
  z-index: 2;
}
.clock {
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
  background: #fff;
  border: 1px solid #e3bbb5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.clock .clock-line {
  position: absolute;
  width: 2px;
  height: 10px;
  background: #e1d6d6;
  left: 74px;
  top: 12px;
  -webkit-transform-origin: 50% 62px;
  -moz-transform-origin: 50% 62px;
  -ms-transform-origin: 50% 62px;
  -o-transform-origin: 50% 62px;
  transform-origin: 50% 62px;
}
.clock .clock-line.point-12 {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  background: #6a3332;
}
.clock .clock-line.point-1 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.clock .clock-line.point-2 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.clock .clock-line.point-3 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #6a3332;
}
.clock .clock-line.point-4 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.clock .clock-line.point-5 {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}
.clock .clock-line.point-6 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #6a3332;
}
.clock .clock-line.point-7 {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}
.clock .clock-line.point-8 {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}
.clock .clock-line.point-9 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  background: #6a3332;
}
.clock .clock-line.point-10 {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}
.clock .clock-line.point-11 {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
}
.clock:after,
.clock:before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: -7px;
  background: #6a3332;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.clock:after {
  z-index: 3;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  margin-top: -3px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

.clock .hand {
  position: absolute;
  z-index: 1;
  width: 6px;
  transform-origin: 50% 100%;
  bottom: 74px;
  left: 71px;
}
.clock .hand.hour {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 40px 3px;
  border-color: transparent transparent #6a3332 transparent;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}
.clock .hand.minute {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 59px 3px;
  border-color: transparent transparent #6a3332 transparent;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}
.clock .hand.second {
  bottom: 74px;
  left: 74px;
  width: 1px;
  height: 62px;
  background-color: #e3bbb5;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
