.header {
  left: 100px;
  position: fixed;
  top: 70px;
  z-index: 9999;
  height: 100vh;


  @include max-tablet-md {
    left: 0;
    top: 0;
    position: fixed;
    height: 70px;
    width: 100vw;

    &:before {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      transition: all 0.7s ease-in-out;
      content: '';
    }


    &.changeheader {
      &:before {
        transform: translateY(0);
        transition: all 0.7s ease-in-out;

      }
    }
  }

  @include max-mobile-xlg {
    height: 70px;

  }

  &-branding {
    margin-bottom: 50px;

    @include max-tablet-md {
      margin: 0 !important;
      position: absolute;
      top: 22px;
      left: 100px;
      z-index: 9999;
    }
    @include max-mobile-xlg {
      left: 32px;
      opacity: 0;
      top: 23px;
      left: 32px;
      @include transition-fade;
    }

    .custom-logo-link {
      @include max-tablet-md {
        display: none !important;
      }
    }

    &_red {
      @include min-tablet-md {
        display: none;
      }
    }

    &_white {
      @include min-tablet-md {
        display: none;
      }
    }

    img {
      width: 350px;
      @include max-tablet-md {
        width: 180px;
      }
      @include max-mobile-xlg {
        width: 160px;
      }
    }
  }


  &-navigation {
    width: fit-content;
    position: fixed;
    height: 100vh;
    width: fit-content;
    top: 0;
    left: 100px;
    @include center-vertically;


    @include max-tablet-md {
      display: none;
      background: #d2b7a4;
      left: unset;
      right: 0;
      top: 0;
      width: 40vw;
    }
    @include max-mobile-xlg {
      width: 100vw;
      left: 0;
      right: 0;
    }

    &_container {
      @include max-tablet-md {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        @include center-vertically;
        padding-bottom: 100px;
        overflow-y: scroll;
        > div {
          margin-left: 50px;
          width: fit-content;
        }
      }
    }

    ul {
      display: block;
      list-style: none;
      margin-left: -40px;
      width: fit-content;

      li {
        margin: 25px 0;

        a {
          position: relative;
          margin: 0;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 0.75rem;
          font-weight: 700;
          color: #fff;
          padding-left: 0;
          @include transition-fade;

          @include max-tablet-md {
            font-size: 1rem;
          }

          @include max-mobile-xlg {
            font-size: 0.9rem;
          }

          &:before {
            content: '';
            height: 2px;
            width: 12px;
            display: block;
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateX(-16px);
            @include transition-fade;
          }

          &.active, &:hover, &:active {
            padding-left: 22px;
            color: #6b3333;


            &:before {
              transform: translateX(0);
              content: '';
              height: 2px;
              width: 12px;
              display: block;
              background-color: #6b3333;
              position: absolute;
              top: 50%;


            }

          }
        }
      }
    }
  }

  &-toggle {
    position: absolute;
    top: 20px;
    right: 32px;
    display: inline-flex;

    @include min-tablet-md {
      display: none !important;
    }
    @include max-tablet-md {
      right: 100px;
    }
    @include max-mobile-xlg {
      right: 32px;
    }

    &_phone {
      i {
        font-size: 1.7rem;
        color: #6b3333;
        transform: scale(-1, 1);
      }
    }


    &_menu {
      margin-top: 2px;
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 20px;
      @include max-tablet-md {
        margin-left: 30px;
      }
      @include max-mobile-xlg {
        margin-left: 20px;

      }

      span, span:before, span:after {
        content: '';
        height: 2px;
        background-color: #6b3333;
        width: 100%;
        display: block;

        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease;
      }

      span {
        position: relative;

        &:before {
          position: absolute;
          top: -6px;
        }

        &:after {
          position: absolute;
          top: 6px;
        }
      }


    }

    /* Cross effect */
    .header-toggle_menu.active .menu-cross {
      transition-duration: 0.1s;
      background: none;
    }

    .header-toggle_menu.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
    }

    .header-toggle_menu.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
    }


  }
}