.defaultpage{}

.social-media {
  display: inline-flex;
  text-align: center;
  width: 100%;
  @include align-center;
  &_item {
    margin: 0 15px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    @include transition-fade;
    &:hover {
      border-bottom: 1px solid rgba(255,255,255, 1);
    }
    a {
      text-transform: uppercase;
      @include font-family-heading;
      letter-spacing: 3px;
      color: white;
      font-weight: 600;
    }
  }
}
