.btn {
  border: 1px solid transparent;
  padding: 20px 25px;
  color: black;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.75rem;
  font-weight: 600;

  &:hover, &:focus, &:active {
    outline: none;
  }

  &:hover:before, &:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #000;
    box-sizing: border-box;
    opacity: .3;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-out;

  }

  &:before {
    top: -2px;
    left: 2px;
  }

  &:after {
    top: 2px;
    left: -2px;
  }

  &-white {
    background: transparent;
    border-color: transparent;
    color: white !important;
    &:before, &:after {
      border: 1px solid #fff;
    }
  }
}