.scroll-up {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid transparent;
  margin: 0 auto;
  position: relative;

  &:hover:before, &:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &:hover {
    i {
      @include animation-slideInUp;

    }
  }



  &:before, &:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    display: block;
    border: 1px solid #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .3;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

  }

  &:before {
    top: -2px;
    left: 2px;
  }

  &:after {
    top: 2px;
    left: -2px;
  }

  @include center-vertically;
  i {
    font-size: 1rem;
    color: white;
  }
}


.scroll-button {
  position: absolute;
  @include center-absolute;
  top: -136px;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid transparent;
  margin: 0 auto;

  @include max-mobile-xlg {
    top: -87px;
  }

  &-container {
    position: relative;
    @include center;

    .icon-scroll:before {
      position: absolute;

    }
    .icon-scroll {
      width: 16px;
      height: 27px;
      top: 50%;
      box-shadow: inset 0 0 0 1px #fff;
      border-radius: 25px;
      background: white;
    }
    .icon-scroll:before {
      content: '';
      width: 2px;
      height: 7px;
      background: #c78973;
      margin-left: -1px;
      top: 3px;
      border-radius: 4px;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll;
    }
  }




  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      height: 2px;
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      height: 2px;
    }
  }

  &:hover:before, &:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
    cursor: pointer;
  }



  &:before, &:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    display: block;
    border: 1px solid #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .3;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

  }

  &:before {
    top: -2px;
    left: 2px;
  }

  &:after {
    top: 2px;
    left: -2px;
  }

  @include center-vertically;
}