.frontpage {
  &-top {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &_background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    @include max-mobile-xlg {
      height: 60vh;
    }
  }
}

